<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjh.jpstudy.mapper.MemberMapper">

    <select id="checkMemberId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM STUDY_MEMBER
        WHERE MEMBER_ID = #{memberId}
          AND DELETE_FL = 'N'
    </select>

    <insert id="insertMember" parameterType="com.jjh.jpstudy.dto.Member">
        INSERT INTO STUDY_MEMBER (
            MEMBER_NO,
            MEMBER_ID,
            MEMBER_PW,
            MEMBER_NICKNAME,
            MEMBER_ROLE,
            ENROLL_DATE,
            DELETE_FL
        ) VALUES (
            SEQ_MEMBER_NO.NEXTVAL,
            #{memberId},
            #{memberPw},
            #{memberNickname},
            DEFAULT,
            DEFAULT,
            DEFAULT
        )
    </insert>

    <select id="selectMemberById" parameterType="string" resultType="com.jjh.jpstudy.dto.Member">
        SELECT
            MEMBER_NO AS memberNo,
            MEMBER_ID AS memberId,
            MEMBER_PW AS memberPw,
            MEMBER_NICKNAME AS memberNickname,
            MEMBER_ROLE AS memberRole,
            TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') AS enrollDate,
            DELETE_FL AS deleteFl,
            PROFILE_IMG AS profileImg
        FROM STUDY_MEMBER
        WHERE MEMBER_ID = #{memberId}
          AND DELETE_FL = 'N'
    </select>

    <select id="selectMemberByNo" parameterType="int" resultType="com.jjh.jpstudy.dto.Member">
        SELECT
            MEMBER_NO AS memberNo,
            MEMBER_ID AS memberId,
            MEMBER_PW AS memberPw,
            MEMBER_NICKNAME AS memberNickname,
            MEMBER_ROLE AS memberRole,
            TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') AS enrollDate,
            DELETE_FL AS deleteFl,
            PROFILE_IMG AS profileImg
        FROM STUDY_MEMBER
        WHERE MEMBER_NO = #{memberNo}
          AND DELETE_FL = 'N'
    </select>

    <update id="updateMemberInfo" parameterType="com.jjh.jpstudy.dto.Member">
        UPDATE STUDY_MEMBER
        SET
            MEMBER_NICKNAME = #{memberNickname}
            <if test="memberPw != null and memberPw != ''">
                , MEMBER_PW = #{memberPw}
            </if>
        WHERE MEMBER_NO = #{memberNo}
          AND DELETE_FL = 'N'
    </update>

    <update id="updateProfileImage" parameterType="com.jjh.jpstudy.dto.Member">
        UPDATE STUDY_MEMBER
        SET PROFILE_IMG = #{profileImg}
        WHERE MEMBER_NO = #{memberNo}
          AND DELETE_FL = 'N'
    </update>

</mapper>