<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjh.jpstudy.mapper.WordMapper">

    <select id="selectWordList" resultType="Word">
        SELECT
            W.WORD_NO AS wordNo,
            W.WORD_TEXT AS wordText,
            W.FURIGANA AS furigana,
            W.PART_OF_SPEECH AS partOfSpeech,
            W.JLPT_LEVEL AS jlptLevel,
            W.WORD_DESCRIPTION AS wordDescription,
            WM.MEANING_TEXT AS meaningText
        FROM WORD W
        LEFT JOIN WORD_MEANING WM
            ON W.WORD_NO = WM.WORD_NO
            AND WM.MEANING_ORDER = 1
            AND WM.DELETE_FL = 'N'
        WHERE W.DELETE_FL = 'N'
        ORDER BY W.WORD_NO
    </select>

</mapper>